<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support Request</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Обращение в техническую поддержку</h1>

    <form id="ticketForm">
        <label for="username">Ваше имя:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="email">Ваш адрес электронной почты:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="subject">Проблема:</label>
        <input type="text" id="subject" name="subject" required><br><br>

        <label for="description">Описание проблемы:</label>
        <textarea id="description" name="description" rows="4" required></textarea><br><br>

        <button type="submit">Отправить</button>
    </form>

    <p id="responseMessage"></p>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
